.home-title-box {
    position: relative;
    top: 240px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}
.title {
    font-size: 90px;
}
.title-img {
    height: 90px;
}
.sub-title {
    font-size: 25px;
    font-weight: normal;
}
.action-div {
    margin-top: 20px;
    width: 170px;
    height: 50px;
    border-radius: 15px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}